.c-static-section {
  @include media-breakpoint-down(xl) {
    .aside {
      display: none;
    }
  }
  .o-content {
    h1 {
      color: var(--color-primary);
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1.188;
      @include media-breakpoint-down(lg) {
        font-size: 28px;
      }
    }
    h2 {
      font-size: 28px;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
      }
    }
    h3 {
      font-size: 24px;
      @include media-breakpoint-down(lg) {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    padding-bottom: 48px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 32px;
    }
  }
}
