<section class="c-player-section">
  <div class="container">
    <div class="c-player-section__inner">
      <div class="c-player-section__img">
        <img src="images/content/profil.png" alt="" loading="lazy" />
      </div>
      <div class="c-player-section__info">
        <h1 class="h2">
          <span>Gašper</span>
          KROŠELJ
        </h1>
        <div class="c-player-section__number">37</div>
        <div class="c-player-section__position">
          <span><img src="images/ico/sk.svg" alt="" loading="lazy" /></span>
          BRANKÁŘ
        </div>
        <p class="p1">
          Gašper Krošelj je rodák ze slovinské Lublaně, kde také hokejově
          vyrostl. Už v raném mládí ale vyrazil zkoušet štěstí do jiných zemí.
          Nejprve to bylo Slovensko, kde působil v Topolčanech a posléze v
          Žilině, následovalo pět let v chorvatském Záhřebu, kde si vyzkoušel
          jak EBEL ligu, tak tamější soutěž. V sezoně 2011/2012 a ještě o rok
          později chytal pro změnu v Dánsku, ročník 2013/2014 představoval
          Norsko a o sezonu déle působil ve Švédsku.
        </p>
        <ul>
          <li>
            <span>Datum narození:</span>
            9. 2. 1987 (35 let)
          </li>
          <li>
            <span>Hůl:</span>
         
            levá
          </li>
          <li>
            <span>Výška:</span>
            189 cm
          </li>
          <li>
            <span>Váha:</span>
            89 kg
          </li>
          <li>
            <span>V klubu:</span>
            od 06/2018
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
