<section class="c-offline-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <h1 class="h4 text-primary mb-8">
            Fanzone | Přehled offline rozhovorů
          </h1>
          <h2 class="h5 mb-4">Stálé akce</h2>
          <div class="o-content mb-10">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>odpovídáno</th>
                  <th>začátek</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html">Otázky</a>
                    |
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                  <td>13.07.2011</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html">Otázky</a>
                    |
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                  <td>13.07.2011</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 class="h5 mb-4">Již skončené rozhovory</h3>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>odpovídáno</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="#"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
                <tr>
                  <td>Vedení klubu - Mgr. Jan Tůma</td>
                  <td>
                    <a href="https://mizza-cz.github.io/bk-mlada-boleslav/build/17.0_%20questions.html"> Odpovědi</a>
                  </td>
                  <td>30. 6. 2022</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-2.twig" %}
    </div>
  </div>
</section>
