<div class="slider-gallery">
   <div class="slider-holder">
     <div class="item">
       <div class="media-wrap">
         <img
           src="images/content/clanek.jpeg"
           alt=""
           loading="lazy"
         />
       </div>
     </div>
     <div class="item">
       <div class="media-wrap">
         <img
           src="images/content/clanek.jpeg"
           alt=""
           loading="lazy"
         />
       </div>
     </div>
     <div class="item">
       <div class="media-wrap">
         <img
           src="images/content/clanek.jpeg"
           alt=""
           loading="lazy"
         />
       </div>
     </div>
     <div class="item">
       <div class="media-wrap">
         <img
           src="images/content/clanek.jpeg"
           alt=""
           loading="lazy"
         />
       </div>
     </div>
     <div class="item">
       <div class="media-wrap">
         <img
           src="images/content/clanek.jpeg"
           alt=""
           loading="lazy"
         />
       </div>
     </div>
   </div>
   <div class="slider-gallery__info">
     <div class="slider-gallery__name">
       <span>GALERIE:</span>David Štich novou posilou
     </div>
     <div class="slides-numbers" style="display: block">
       <span class="active">01</span> /
       <span class="total"></span>
     </div>
   </div>
 </div>