<div class="slider-gallery">
  <div class="slider-holder" id="lightgallery">
    <figure class="item">
      <a href="#" data-gallery="1" data-gallery-id="1" class="media-wrap">
        <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
      </a>
    </figure>
    <figure class="item">
      <a href="#" data-gallery="1" data-gallery-id="1" class="media-wrap">
        <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
      </a>
    </figure>
    <figure class="item">
      <a href="#" data-gallery="1" data-gallery-id="1" class="media-wrap">
        <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
      </a>
    </figure>
    <figure class="item">
      <a href="#" data-gallery="1" data-gallery-id="1" class="media-wrap">
        <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
      </a>
    </figure>
    <figure class="item">
      <a href="#" data-gallery="1" data-gallery-id="1" class="media-wrap">
        <img src="images/content/clanek.jpeg" alt="" loading="lazy" />
      </a>
    </figure>
  </div>
  <div class="slider-gallery__info">
    <div class="slider-gallery__name">
      <span>GALERIE:</span>David Štich novou posilou
    </div>
    <div class="slides-numbers" style="display: block">
      <span class="active">01</span> /
      <span class="total"></span>
    </div>
  </div>
</div>
