.hp-dashboard {
  padding-top: 64px;
  padding-bottom: 48px;
  width: 100%;
  &__inner {
    @include media-breakpoint-down(lg) {
      .col-lg-4 {
        max-width: 600px;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
      }
    }
  }
  .link {
    margin-left: auto;
    display: block;
    width: fit-content;
  }
  .col-lg-4 {
    padding: 0 32px;
    @include media-breakpoint-down(xl) {
      padding: 0 16px;
    }
  }
  .row {
    margin-left: -32px;
    margin-right: -32px;
    @include media-breakpoint-down(xl) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
  .h5 {
    margin-bottom: 24px;
    font-weight: 600;
  }
  &__table {
    &-respons {
      background-color: var(--color-dark);
      padding: 17px 20px 20px 20px;
      margin-bottom: 32px;
    }
    th {
      color: var(--color-primary);
    }
    th,
    td {
      width: auto;
      width: 50px;
    }
    th:nth-child(2),
    td:nth-child(2) {
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 4px;
    }
    td {
      text-align: center;
      strong {
        font-weight: 600;
      }
      color: var(--color-light);
      white-space: nowrap;
      vertical-align: middle;
      img {
        width: 32px;
        padding: 0 4px;
        height: 24px;
        display: inline-block;
      }
    }
  }
}

.hp-dashboard__videos {
  .post {
    margin-bottom: 16px;
  }
  .date {
    background-color: var(--color-dark);
  }
  .post__info {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 16px;
  }
}
