<section class="hp-dashboard bg-primary">
  <div class="container">
    <div class="row hp-dashboard__inner">
      <div class="col-lg-4">
        <div class="hp-dashboard__videos">
          <h4 class="h5">Youtube kanál</h4>
          {% include "@components/post/post-video.twig" %} {% include
          "@components/post/post-video.twig" %}
          <a href="#" class="link">Další videa</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__table">
          <h4 class="h5">Tabulka TELH</h4>
          <div class="hp-dashboard__table-respons">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tým</th>
                  <th>Z</th>
                  <th>Skóre</th>
                  <th>B</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#" class="link">Kompletní tabulka</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__news">
          <h4 class="h5">Title</h4>
        </div>
      </div>
    </div>
  </div>
</section>
