<section class="hp-dashboard bg-primary">
  <div class="container">
    <div class="row hp-dashboard__inner">
      <div class="col-lg-4">
        <div class="hp-dashboard__videos">
          <h4 class="h5">Youtube kanál</h4>
          {% include "@components/post/post-video.twig" %} {% include
          "@components/post/post-video.twig" %}
          <a href="#" class="link">Další videa</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__table">
          <h4 class="h5">Tabulka TELH</h4>
          <div class="hp-dashboard__table-respons">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tým</th>
                  <th>Z</th>
                  <th>Skóre</th>
                  <th>B</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    {% include "@images/logo.svg" %}
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr></tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/logo.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>
                    <img src="images/content/lit.png" alt="" loading="lazy" />
                    <strong>MBL</strong>
                  </td>
                  <td>20</td>
                  <td>52:32</td>
                  <td><strong>58</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#" class="link">Kompletní tabulka</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hp-dashboard__news">
          <div class="hp-dashboard__news-inner">
            <h4 class="h5">Aktuality</h4>
            <div class="hp-dashboard__news-item">
              <div class="hp-dashboard__news-header">
                <div class="tag">Dnes</div>
                <a href="#" class="h6">Stříteský u Bruslařů</a>
              </div>
              <p>
                Do probíhající přípravy BK Mladá Boleslav se zapojil obránce
                Matěj Stříteský. Ten je ze svého působení u Bruslařů v letech
                2014 až 2017 stále kmenovým hráčem Středočechů a s klubem se
                dohodl na možnosti trénovat a připravovat se s týmem. S největší
                pravděpodobností jej uvidíte i v některých přípravných zápasech.
              </p>
            </div>
            <div class="hp-dashboard__news-item">
              <div class="hp-dashboard__news-header">
                <div class="tag">21. 8. 2022</div>
                <a href="#" class="h6">Změny v rozlosování</a>
              </div>
              <p>
                Hned dva listopadové zápasy Bruslařů se dočkaly změny. Utkání
                19. kola s Vítkovicemi se neodehraje 6. listopadu, nýbrž až v
                úterý 17. ledna a to od 17:30. Ve dvou zápasech s Karlovými Vary
                poté došlo k výměně pořadatelství. Bruslaři tak budou hrát doma
                7. října namísto 20. listopadu.
              </p>
            </div>
            <div class="hp-dashboard__news-item">
              <div class="hp-dashboard__news-header">
                <div class="tag">21. 8. 2022</div>
                <a href="#" class="h6">Pořad Zlatá hokejka na ČT1</a>
              </div>
              <p>
                Ve čtvrtek 18. srpna bude znám letošní majitel Zlaté hokejky,
                přímý přenos z udílení cen bude probíhat od 21:20 ČT1.
              </p>
            </div>
          </div>
          <a href="#" class="link">Další aktuality</a>
        </div>
      </div>
    </div>
  </div>
</section>
