<section class="c-table-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper pb-10">
          <div class="header-section">
            <h1 class="h4 text-primary">
              Statistiky Tipsport extraliga 2021/2022
            </h1>
            <form action="" class="w-auto d-flex header-section__form">
              <label class="o-select header-section__label">
                <select class="js-select">
                  <option>Část sezóny:</option>
                  <option value="tipsport">základní část</option>
                  <option value="tipsport">Play off/out</option>
                </select>
              </label>
            </form>
          </div>
          <p class="mb-4">
            <strong>Vysvětlivky</strong>
            položek naleznete dole pod tabulkami.
            <br />
            <strong>TIP!</strong>
            kliknutím na jednotlivá statistická čísla získáte podrobný přehled
            statistik v zápase.
          </p>
          <div class="o-content mb-6">
            <table>
              <thead>
                <tr>
                  <th><a href="#">#</a></th>
                  <th><a href="#">brankáři</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">Min</a></th>
                  <th><a href="#">Stř</a></th>
                  <th><a href="#">Ink</a></th>
                  <th><a href="#">Zás</a></th>
                  <th><a href="#">Prů</a></th>
                  <th><a href="#">Úsp</a></th>
                  <th><a href="#">SO</a></th>
                  <th><a href="#">A</a></th>
                  <th>
                    <a href="#">TM</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>1702:07</td>
                  <td>755</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>1702:07</td>
                  <td>755</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>1702:07</td>
                  <td>755</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="header-section w-100">
            <form action="" class="w-100 d-flex header-section__form">
              <label class="o-select w-100 header-section__label">
                <select class="js-select">
                  <option>Zobrazit:</option>
                  <option value="tipsport">odděleně obránci a útočníci</option>
                  <option value="tipsport">všichni hráči dohromady</option>
                </select>
              </label>
            </form>
          </div>
          <div class="o-content mb-4">
            <table>
              <thead>
                <tr>
                  <th><a href="#">#</a></th>
                  <th><a href="#">obránci</a></th>
                  <th><a href="#">P</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">G</a></th>
                  <th><a href="#">A</a></th>
                  <th><a href="#">B</a></th>
                  <th><a href="#">+/-</a></th>
                  <th><a href="#">TM</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="o-content mb-6">
            <table>
              <thead>
                <tr>
                  <th><a href="#">#</a></th>
                  <th><a href="#">útočníci</a></th>
                  <th><a href="#">P</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">G</a></th>
                  <th><a href="#">A</a></th>
                  <th><a href="#">B</a></th>
                  <th><a href="#">+/-</a></th>
                  <th><a href="#">TM</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>32.</td>
                  <td><a href="#">Gašper Krošelj</a></td>
                  <td>32</td>
                  <td>755</td>
                  <td>20</td>
                  <td>32</td>
                  <td>26</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="h4 mb-6">Vysvětlivky sloupců</h2>
          <h3 class="h5 text-primary mb-2">Brankáři</h3>
          <p class="mb-6">
            <strong># </strong>- číslo dresu v posledním zápase (pro případ, že
            by se měnilo) <br /><strong>Z </strong>- počet zápasů, v nichž hráč
            nastoupil <br /><strong>Min </strong>- počet odchytaných minut
            <br /><strong>Stř </strong>- počet střel vyslaných na brankáře
            <br /><strong>Ink </strong>- počet inkasovaných gólů <br /><strong
              >Zás </strong
            >- počet zásahů <br /><strong>Prů </strong>- průměr gólů na zápas (
            = inkasované góly / minuty/60 ) <br /><strong>Úsp </strong>-
            úspěšnost zásahů ( = zásahy / střely ) <br /><strong>SO </strong>-
            shut-outy, vychytané nuly <br /><strong>A </strong>- asistence
            <br /><strong>TM </strong>- trestné minuty
          </p>
          <h4 class="h5 mb-2 text-primary">Hráči v poli</h4>
          <p>
            <p><strong># </strong>- číslo dresu v posledním zápase (pro případ, že by se měnilo)
               <br><strong>Z </strong>- počet zápasů, v nichž hráč nastoupil
               <br><strong>P</strong> - post (obránce nebo útočník)
               <br><strong>Z</strong> - počet zápasů, v nichž hráč nastoupil
               <br><strong>G, A, B</strong> - góly, asistence, body
               </p>
          </p>
        </div>
      </div>
      {% include "@components/aside/aside-statistics.twig" %}
    </div>
  </div>
</section>
