<aside class="aside col-xl-4 gy-10">
  <div class="aside-box">
    <h2 class="h5">Klub</h2>
    <ul class="aside__menu">
      <li>
        <a class="active" href="#">Základní informace</a>
      </li>
      <li>
        <a href="#">Realizační tým</a>
      </li>
      <li>
        <a href="#">Změny v kádru</a>
      </li>
      <li>
        <a href="#">B-tým</a>
      </li>
    </ul>
  </div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <a href="#" class="link">Další články</a>
</aside>
