<aside class="aside col-xl-4 gy-10">
  <div class="aside-box">
    <h2 class="h5">Související články</h2>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
  </div>
  <div class="aside-box">
    <h2 class="h5">Statistiky hráčů</h2>
    <div class="aside-table">
      <table>
        <thead>
          <tr>
            <th>BRANKÁŘI</th>
            <th>MIN</th>
            <th>STŘ</th>
            <th>ZÁS</th>
            <th>INK</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adam Joska</td>
            <td>60</td>
            <td>24</td>
            <td>20</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>OBRÁNCI</th>
            <th>G</th>
            <th>A</th>
            <th>+/-</th>
            <th>TM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>ÚTOČNÍCI</th>
            <th>G</th>
            <th>A</th>
            <th>+/-</th>
            <th>TM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adam Joska</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</aside>
