<aside class="aside col-xl-4 gy-10">
  <div class="aside-box">
    <h2 class="h5">Soutěže</h2>
    <ul class="aside__menu">
      <li>
        <a href="#">Všechny</a>
      </li>
      <li>
        <a class="active" href="#">Tipsport extraliga</a>
      </li>
      <li>
        <a href="#">Liga mistrů</a>
      </li>
      <li>
        <a href="#">Příprava</a>
      </li>
    </ul>
  </div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <a href="#" class="link">Další články</a>
</aside>
