<aside class="aside aside-player col-xl-4 gy-10">
  <div class="aside-box">
    <h2 class="h5">Související články</h2>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
    <div class="aside-post">
      <div class="aside-post__img">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <span>16. 7. 2022</span>
      </div>
      <p>
        <strong>
          Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
        </strong>
      </p>
    </div>
  </div>
  <a href="#" class="link">Další články</a>
  <div class="aside-box">
    <h2 class="h5">Další hráči</h2>
    <ul class="aside__menu">
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
      <li class="aside__menu-player">
        <strong class="text-primary">B</strong>
        <strong class="aside__menu-player-num">#35</strong>
        <a class="active" href="#">Marek Stuchlík</a>
      </li>
    </ul>
  </div>
</aside>
