<section class="c-player-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <h2 class="h4 text-primary mb-4">Aktuální statistiky</h2>
          <div class="o-content mb-6">
            <table>
              <thead>
                <tr>
                  <th>text</th>
                  <th>text</th>
                  <th>text</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 class="h4 mb-4 text-primary">Posledních 5 zápasů</h3>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th>text</th>
                  <th>text</th>
                  <th>text</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
                <tr>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                  <td>Obsah sloupce</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% include "@components/slider-gallery/slider-gallery.twig" %}
        </div>
      </div>
      {% include "@components/aside/aside-player.twig" %}
    </div>
  </div>
</section>
