<section class="hp-juniors-section">
  <div class="hp-juniors-menu">
    <div class="container">
      <div class="hp-juniors-header">
        <h5 class="h4">Mládež a B-tým</h5>
        <div class="hp-juniors__tabs">
          <button class="btn filter mixitup-control-active" data-filter="all">
            Kompletní přehled
          </button>
          <button class="btn filter" data-filter=".juniori">Junioři</button>
          <button class="btn filter" data-filter=".dorost">Dorost</button>
          <button class="btn filter" data-filter=".zaci">Žáci</button>
          <button class="btn filter" data-filter=".b-tym">B-tým</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hp-juniors__wrapper">
      <article class="post mix b-tym">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">B-tým</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>
      <article class="post mix juniori">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">Junioři</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>

      <article class="post mix dorost">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">Dorost</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>
      <article class="post mix zaci">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">Žáci</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>

      <article class="post mix dorost">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">Dorost</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>
      <article class="post mix zaci">
        <a href="#" class="post__link">
          <div class="post__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="hp-juniors__categories">
              <div class="date">16. 12. 2021</div>
              <div class="tag">Žáci</div>
            </div>
          </div>
          <div class="post__info">
            <h3 class="h6">
              Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
            </h3>
          </div>
        </a>
      </article>
    </div>
    <a href="#" class="link">Další články</a>
  </div>
</section>
