<section class="hp-juniors-section">
  <div class="container">
    <div class="tabs-wrapper">
      <div class="hp-juniors-header">
        <h5 class="h4">Mládež a B-tým</h5>
        <ul class="hp-juniors__tabs tabs">
          <li>
            <a href="#" class="tab active" data-id="1">Junioři</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="2">Dorost</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="3">Žáci</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="4">B-tým</a>
          </li>
        </ul>
      </div>

      <div class="tab-content tab-active" id="1">
        <div class="hp-juniors__wrapper">
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="tab-content" id="2">
        <div class="hp-juniors__wrapper">
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Dorost</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Dorost</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Dorost</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Dorost</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Junioři</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="tab-content" id="3">
        <div class="hp-juniors__wrapper">
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Dorost</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Žáci</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Žáci</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Žáci</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">Žáci</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="tab-content" id="4">
        <div class="hp-juniors__wrapper">
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
          <article class="post">
            <a href="#" class="post__link">
              <div class="post__img">
                <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                <div class="hp-juniors__categories">
                  <div class="date">16. 12. 2021</div>
                  <div class="tag">B-tým</div>
                </div>
              </div>
              <div class="post__info">
                <h3 class="h6">
                  Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude
                  dál?
                </h3>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
    <a href="#" class="link">Další články</a>
  </div>
</section>
