.link {
  text-transform: uppercase;
  border: 1px solid var(--color-dark);
  padding: 6px 37px 4px 24px;
  text-decoration-color: transparent;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 23px;
    top: 14px;
    background-image: url("../images/ico/chevron-link.svg");
    width: 5px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:hover {
    text-decoration-color: inherit;
  }
}
