<section class="c-trainers-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <div class="header-section">
            <h1 class="h4 text-primary">Realizační tým</h1>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Hlavní trenér</h2>
                    <h3 class="h5"><span>Ladislav</span> Čihák</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Asistent trenéra</h2>
                    <h3 class="h5"><span>Petr</span> Haken</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Kondiční trenér</h2>
                    <h3 class="h5"><span>Ondřej</span> Ježek</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Trenér brankářů a vedoucí mužstva</h2>
                    <h3 class="h5"><span>Lukáš</span> Mensator</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Videokouč</h2>
                    <h3 class="h5"><span>Mgr. Jan</span> Vidner</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Kustod</h2>
                    <h3 class="h5"><span>Oldřich</span> Kopecký</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Masér</h2>
                    <h3 class="h5"><span>Martin</span> Tondr</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Masér</h2>
                    <h3 class="h5"><span>Pavel</span> Racek</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <a href="#">
                  <div class="c-trainers__img">
                    <img
                      src="images/content/trener.png"
                      alt=""
                      loading="lazy"
                    />
                  </div>
                  <div class="c-trainers__info">
                    <h2 class="h6">Fyzioterapeut</h2>
                    <h3 class="h5"><span>Martin</span> Janoušek</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <div class="c-trainers__img">
                  <img src="images/content/trener.png" alt="" loading="lazy" />
                </div>
                <div class="c-trainers__info">
                  <h2 class="h6">Lékař</h2>
                  <h3 class="h5"><span>MUDr. Radek</span> Langer</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <div class="c-trainers__img">
                  <img src="images/content/trener.png" alt="" loading="lazy" />
                </div>
                <div class="c-trainers__info">
                  <h2 class="h6">Lékař</h2>
                  <h3 class="h5"><span>MUDr. Libor</span> Blažek</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="c-trainers">
                <div class="c-trainers__img">
                  <img src="images/content/trener.png" alt="" loading="lazy" />
                </div>
                <div class="c-trainers__info">
                  <h2 class="h6">Lékař</h2>
                  <h3 class="h5"><span>MUDr. Tomáš</span> Klatovský</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-team.twig" %}
    </div>
  </div>
</section>
