<section class="c-questions-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper pb-10">
          <div class="mb-6 row">
            <h1 class="h4 text-primary">
              Offline rozhovor: Vedení klubu - Mgr. Jan Tůma
            </h1>
            <p>Ptejte se generálního manažera klubu BK Mladá Boleslav:</p>
          </div>
          <div class="o-content">
            <div class="c-questions__form mb-10">
              <form action="">
                <div class="row">
                  <h5>Formulář dotazu</h5>
                  <div class="col-12">
                    <label for="">
                      text příspěvku:
                      <textarea name="" id="" cols="20" rows="8"></textarea>
                    </label>
                  </div>
                  <div class="col-md-4 col-12">
                    <label for="">
                      Jméno:
                      <input name="jmeno" type="text" required />
                    </label>
                  </div>
                  <div class="col-md-4 col-12">
                    <label for="">
                      E-mail:
                      <input name="jmeno" type="email" required />
                    </label>
                  </div>
                  <div class="col-md-4 col-12">
                    <label for="">
                      město/tým:
                      <input type="text" />
                    </label>
                  </div>
                  <p class="text-center mb-0">vyplňte prosím všechny kolonky</p>
                  <button class="btn">Odeslat žádost</button>
                </div>
              </form>
            </div>
            <p>
              Dříve než se rozhodnete položit otázku, projděte si prosím dotazy,
              které před Vámi napsali jiní uživatelé. Zbytečně pak nebudete
              opakovat již položené otázky a jistě tím ušetříte jak svůj čas,
              tak čas dotazovaného. Děkujeme.
            </p>
            <hr />
            <p>
              Zobrazuji odpovědi 1 - 10 z 987 odpovědí v této kategorii celkem.
            </p>
            <hr />
            <div class="c-questions__row">
              <p>
                <strong>
                  Josef Šedivý (<a href="mailto:pepazmb@seznam.cz"
                    >pepazmb@seznam.cz</a
                  >
                  - MLADA BOLESLAV/BK Mladá Boleslav)
                </strong>
              </p>
              <p><strong>18. 6. 2022, 11:07</strong></p>
            </div>
            <hr />
            <p>
              Dobrý den v článku pro spuštění prodeje permanentek mě zaujala
              informace možnosti nahrát si permanentku do aplikace v mobilu. Pod
              jakým názvem a ve kterém obchodě aplikaci ( Google Play....atd)
              najdu? Děkuji za odpověď Šedivý
            </p>
            <h6>Odpověď:</h6>
            <p>
              Dobrý den, podrobné informace k aplikaci jsme zveřejnili na webu,
              najdete je <a href="#">zde.</a>
            </p>
            <hr />
            <div class="c-questions__row">
              <p>
                <strong>
                  Sigi (<a href="mailto:Sigi@seznam.cz">Sigi@seznam.cz</a>
                  - Bolka)
                </strong>
              </p>
              <p><strong>18. 6. 2022, 11:07</strong></p>
            </div>
            <hr />
            <h6>Odpověď:</h6>
            <p>
              Dobrý den, děkujeme za gratulaci. Je pravdou, že závěr sezony byl
              skvělý, i když jsme Třinec chtěli určitě výsledkově potrápit více.
            </p>
            <hr />
            <div class="c-questions__row">
              <p>
                <strong>
                  Josef Šedivý (<a href="mailto:pepazmb@seznam.cz"
                    >pepazmb@seznam.cz</a
                  >
                  - MLADA BOLESLAV/BK Mladá Boleslav)
                </strong>
              </p>
              <p><strong>18. 6. 2022, 11:07</strong></p>
            </div>
            <hr />
            <p>
              Dobrý den v článku pro spuštění prodeje permanentek mě zaujala
              informace možnosti nahrát si permanentku do aplikace v mobilu. Pod
              jakým názvem a ve kterém obchodě aplikaci ( Google Play....atd)
              najdu? Děkuji za odpověď Šedivý
            </p>
            <h6>Odpověď:</h6>
            <p>
              Dobrý den, podrobné informace k aplikaci jsme zveřejnili na webu,
              najdete je <a href="#">zde.</a>
            </p>
            <hr />
            <div class="c-questions__row">
              <p>
                <strong>
                  Sigi (<a href="mailto:Sigi@seznam.cz">Sigi@seznam.cz</a>
                  - Bolka)
                </strong>
              </p>
              <p><strong>18. 6. 2022, 11:07</strong></p>
            </div>
            <hr />
            <h6>Odpověď:</h6>
            <p>
              Dobrý den, děkujeme za gratulaci. Je pravdou, že závěr sezony byl
              skvělý, i když jsme Třinec chtěli určitě výsledkově potrápit více.
            </p>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      {% include "@components/aside/aside-2.twig" %}
    </div>
  </div>
</section>
