<section class="c-calendar-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <div class="header-section">
            <h1 class="h4 text-primary">Kalendář zápasů</h1>
          </div>
          <div class="header-section w-100">
            <form action="" class="w-100 d-flex header-section__form">
              <label class="o-select w-100 header-section__label">
                Zobrazit kalendář pro:
                <select class="js-select">
                  <option>Muži</option>
                  <option>B tým</option>
                  <option>Junioři</option>
                  <option>Starší dorost</option>
                  <option>Mladší dorost</option>
                  <option>Mladší dorost B</option>
                  <option>Dorost</option>
                  <option>Dorost B</option>
                  <option>Starší žáci</option>
                  <option>Mladší žáci</option>
                  <option>9. třída</option>
                  <option>8. třída</option>
                  <option>7. třída</option>
                  <option>6. třída</option>
                  <option>5. třída</option>
                  <option>4. třída</option>
                  <option>3. třída</option>
                  <option>2. třída</option>
                  <option>1. třída</option>
                  <option>Ženy</option>
                </select>
              </label>
            </form>
          </div>
          <div class="c-calendar-section__menu">
            <a
              href="/calendar?date=2022-8-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >srpen</a
            >
            <a
              href="/calendar?date=2022-9-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap active"
              >září</a
            >
            <a
              href="/calendar?date=2022-10-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >říjen</a
            >
            <a
              href="/calendar?date=2022-11-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >listopad</a
            >
            <a
              href="/calendar?date=2022-12-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >prosinec</a
            >
            <a
              href="/calendar?date=2023-1-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >leden</a
            >
            <a
              href="/calendar?date=2023-2-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >únor</a
            >
            <a
              href="/calendar?date=2023-3-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >březen</a
            >
            <a
              href="/calendar?date=2023-4-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >duben</a
            >
            <a
              href="/calendar?date=2023-5-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >květen</a
            >
            <a
              href="/calendar?date=2023-6-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >červen</a
            >
            <a
              href="/calendar?date=2023-7-1&category=MUZ"
              class="d-block ml-2 mr-2 font-size-smaller text-decoration-none text-uppercase text-nowrap"
              >červenec</a
            >
          </div>
          <div class="c-calendar-section__respons">
            <table id="kalendar" class="table nice">
              <thead>
                <tr>
                  <th>Pondělí</th>
                  <th>Úterý</th>
                  <th>Středa</th>
                  <th>Čtvrtek</th>
                  <th>Pátek</th>
                  <th>Sobota</th>
                  <th>Neděle</th>
                </tr>
              </thead>
              <tr>
                <td class="kalPrazdny">&nbsp;</td>
                <td class="kalPrazdny">&nbsp;</td>
                <td class="kalPrazdny">&nbsp;</td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">1</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">2</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">3</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">4</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
              </tr>
              <tr>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">5</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">6</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">7</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">8</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">9</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">10</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">11</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
              </tr>
              <tr>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">12</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">13</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">14</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">15</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="home">
                  <div class="day_number">16</div>
                  <div class="team_name">SPA</div>
                  <div class="game_info">16. 9. 17:30</div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">17</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="visiting">
                  <div class="day_number">18</div>
                  <div class="team_name">OLO</div>
                  <div class="game_info">18. 9. 17:00</div>
                </td>
              </tr>
              <tr>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">19</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">20</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">21</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">22</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="home">
                  <div class="day_number">23</div>
                  <div class="team_name">CEB</div>
                  <div class="game_info">23. 9. 17:30</div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">24</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="visiting">
                  <div class="day_number">25</div>
                  <div class="team_name">PCE</div>
                  <div class="game_info">25. 9. 18:00</div>
                </td>
              </tr>
              <tr>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">26</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="home">
                  <div class="day_number">27</div>
                  <div class="team_name">LIB</div>
                  <div class="game_info">27. 9. 17:30</div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">28</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td valign="top" class="visiting">
                  <div class="day_number">29</div>
                  <div class="team_name">VIT</div>
                  <div class="game_info">29. 9. 17:30</div>
                </td>
                <td valign="top" class="kalNormalni">
                  <div class="day_number">30</div>
                  <div class="team_name"></div>
                  <div class="game_info"></div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>

          <div id="calendar_legend">
            <div class="toleft legend home">&nbsp;</div>
            <div class="toleft name">Domácí zápasy</div>
            <div class="toleft legend away">&nbsp;</div>
            <div class="toleft name">Venkovní zápasy</div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-2.twig" %}
    </div>
  </div>
</section>
