<section class="c-matches-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <div class="header-section">
            <h1 class="h4 text-primary">Tipsport extraliga</h1>
            <form action="" class="w-auto d-flex header-section__form">
              <label class="o-select header-section__label">
                <select class="js-select">
                  <option>Všechny zápasy</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </form>
          </div>
         <div class="c-matches-section__menu">
          <ul class="c-juniors-list">
            <li>
              <a class="active" href="#">
                Vše
              </a>
            </li>
            <li>
              <a class="" href="#">
                pouze doma
              </a>
            </li>
            <li>
              <a class="" href="#">
                pouze venku
              </a>
            </li>
          </ul>
          <div class="c-matches-section__games">
            <button type="button" id="btn-games-calendar-collapse" class="btn btn-default">Zápasy do kalendáře</button>
            <div id="games-calendar-collapse" aria-expanded="false" class="collapse">
              <a href="#">
                <img src="images/content/calendar.png" width="22" height="22"  >Apple
              </a>
              <a href="#">
                <img src="images/content/outlook.png" width="22" height="22"  >Outlook
              </a>
              </a>
              <a href="#" target="_blank">
                <img src="images/ico/google-calendar.svg" width="22" height="22"  >Google
              </a>
            </div>
          </div> 
         </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__info-box">
                <a href="#">
                  {% include "@images/online.svg" %}
                  <span>On-line</span>
                </a>
                <a href="#">
                  {% include "@images/ticket-g.svg" %}
                  <span>Vstupenky</span>
                </a>
              </div>
              <div class="c-match__result">
                <a class="lose" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
              <a href="#">
                <img src="images/content/tv-sport.png" alt="" loading="lazy" />
              </a>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <a href="#" class="c-match__link">
                <img src="images/content/ct-sport.png" alt="" loading="lazy" />
              </a>
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span class="text-primary">BK Mladá Boleslav</span>
              <span>HC VERVA Litvínov</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">
                <a class="win" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">
                <a class="lose" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
              <a href="#">
                <img src="images/content/tv-sport.png" alt="" loading="lazy" />
              </a>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
              <a href="#">
                <img src="images/content/tv-sport.png" alt="" loading="lazy" />
              </a>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span class="text-primary">BK Mladá Boleslav</span>
              <span>HC VERVA Litvínov</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">
                <a class="win" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">
                <a class="lose" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
            </div>
            <div class="c-match__teams">
              <span>HC VERVA Litvínov</span>
              <span class="text-primary">BK Mladá Boleslav</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">16:30<span>HOD.</span></div>
            </div>
          </div>
          <div class="col-xl-6 col-xl-12 c-match d-flex align-items-center">
            <div class="c-match__date">
              <p class="p2">1. kolo</p>
              <p class="p2">
                <strong>pá 16. 9. 2022, 17:30</strong>
              </p>
            </div>
            <div class="c-match__logos">
              <div class="c-match__logo">
                <img src="images/content/lit.png" alt="" loading="lazy" />
              </div>
              <div class="c-match__logo c-match__logo--order">
                {% include "@images/logo.svg" %}
              </div>
            </div>
            <div class="c-match__teams">
              <span class="text-primary">BK Mladá Boleslav</span>
              <span>HC VERVA Litvínov</span>
            </div>
            <div class="c-match__info">
              <div class="c-match__result">
                <a class="win" href="#">2:3pp.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-matches.twig" %}
    </div>
  </div>
</section>
