<section class="c-player-section">
  <div class="container">
    <div class="c-player-section__inner">
      <div class="c-player-section__img m-auto">
        <img src="images/content/trener-1.png" alt="" loading="lazy" />
      </div>
    </div>
  </div>
</section>
<section class="c-player-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <h2 class="h4 text-primary mb-4">Hlavní trenér</h2>
          <h3 class="h5 mb-4">Ladislav Čihák</h3>
          <div class="o-content">
            <strong>INFORMACE O TRENÉROVI:</strong>
            Obzvlášť dlouhodobí fanoušci znají jméno Valdemar Jiruš velmi dobře.
            V minulosti byl totiž obráncem našeho "A" týmu, za který odehrál
            sedm sezon a proslul především jako velmi tvrdý a důrazný bek. Po
            ukončení hráčské kariéry se vydal na tu trenérskou a z asistenta u
            mladšího dorostu se rychle vypracoval až v hlavního kouče juniorky
            Bílých Tygrů. Následně povýšil do prvoligových Benátek, kde působil
            čtyři roky. Po konci farmy se nyní postaví na lavičku tygřího
            "áčka".
          </div>
          {% include "@components/slider-gallery/slider-gallery.twig" %}
        </div>
      </div>
      {% include "@components/aside/aside-player.twig" %}
    </div>
  </div>
</section>
