<footer class="footer">
  <a class="footer__logo" href="">
    <img src="images/content/logo.png" loading="lazy" alt="logo" />
  </a>
  <div class="container">
    <div class="footer__inner">
      <p>
        Copyright © 2011 – 2022 BK Mladá Boleslav a.s. &
        <a href="https://esportsmedia.cz/">eSports.cz, s.r.o.</a>
      </p>
      <div class="footer__links">
        <a href="#">Nastavení cookies</a>
        {% include "@components/social/social.twig" %}
      </div>
    </div>
  </div>
</footer>
