<section class="c-accreditation-section">
   <div class="container">
     <div class="row">
       <div class="col-xl-8">
         <div class="shadow-wrapper">
           <div class="o-content">
             <h1>Akreditace na jednotlivé zápasy</h1>
           
           </div>
         </div>
       </div>
       {% include "@components/aside/aside-2.twig" %}
     </div>
   </div>
 </section>
 