.c-accreditation-section {
  .btn {
    padding: 0 20px;
    transition: all 0.3s;
    border: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.4rem;
    border-radius: 0;
    cursor: pointer;
    width: fit-content;
    margin: 32px auto 0;
    &:hover {
      color: var(--color-primary);
    }
  }
}
.c-accreditation {
  &__form {
    margin-top: 40px;
    padding-bottom: 40px;
    span {
      font-size: 12px;
    }
  }
}
label {
  margin-bottom: 16px;
  display: block;
  span {
    font-size: 12px;
  }
}
input {
  display: block;
  width: 100%;
  padding: 0 16px;
  margin: 0;
}
.label__checkbox {
  align-items: center;
  display: flex;
  input {
    margin-right: 8px;
    display: inline-block;
  }
}
input[type="checkbox"] {
  width: 20px;
  accent-color: var(--color-primary);
  height: 20px;
}
