<article class="post">
  <a href="#" class="post__link">
    <div class="post__img">
      <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
      <div class="date">16. 12. 2021</div>
    </div>
    <div class="post__info">
      <h3 class="h6">
        Po draftu CHL jsem nadšený, přiznává David Moravec. Co bude dál?
      </h3>
    </div>
  </a>
</article>
