<section class="h-matches-dashboard-section">
  <div class="container">
    <div class="h-matches-dashboard__row">
      <div class="h-matches">
        <div class="h-matches__top">
          <div class="h-matches__logos">
            <div class="h-matches__logo">
              <img src="images/content/lit.png" alt="" loading="lazy" />
            </div>
            <div class="h-matches__logo">{% include "@images/logo.svg" %}</div>
          </div>
          <div class="h-matches__title">
            1. kolo TELH
            <span>pá 16. 9. 2022, 17:30</span>
          </div>
        </div>
        <div class="h-matches__info">
          <div class="h-matches__teams">
            <h3 class="h6 text-primary">BK Mladá Boleslav</h3>
            <h3 class="h6">HC VERVA Litvínov</h3>
          </div>
          <div class="h-matches__result">
            <a href="#" class="lose">2:3pp.</a>
          </div>
        </div>
        <ul class="h-matches__links">
          <li>
            <a href="#">
              {% include "@images/document.svg" %}
              <span>Reportáž</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="h-matches">
        <div class="h-matches__top">
          <div class="h-matches__logos">
            <div class="h-matches__logo">
              <img src="images/content/lit.png" loading="lazy" alt="" />
            </div>
            <div class="h-matches__logo">{% include "@images/logo.svg" %}</div>
          </div>
          <div class="h-matches__title">
            1. kolo TELH
            <span>pá 16. 9. 2022, 17:30</span>
          </div>
        </div>
        <div class="h-matches__info">
          <div class="h-matches__teams">
            <h3 class="h6 text-primary">BK Mladá Boleslav</h3>
            <h3 class="h6">HC VERVA Litvínov</h3>
          </div>
          <div class="h-matches__result"><span>16:30 </span> HOD.</div>
        </div>
        <ul class="h-matches__links">
          <li>
            <a href="#">
              {% include "@images/document.svg" %}
              <span>Reportáž</span>
            </a>
          </li>
          <li>
            <a href="#">
              {% include "@images/gallery.svg" %}
              <span>Fotogalerie</span>
            </a>
          </li>
          <li>
            <a href="#">
              {% include "@images/online.svg" %}
              <span>On-line přenos</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="h-matches">
        <div class="h-matches__top">
          <div class="h-matches__logos">
            <div class="h-matches__logo">
              <img src="images/content/lit.png" loading="lazy" alt="" />
            </div>
            <div class="h-matches__logo">{% include "@images/logo.svg" %}</div>
          </div>
          <div class="h-matches__title">
            1. kolo TELH
            <span>pá 16. 9. 2022, 17:30</span>
          </div>
        </div>
        <div class="h-matches__info">
          <div class="h-matches__teams">
            <h3 class="h6 text-primary">BK Mladá Boleslav</h3>
            <h3 class="h6">HC VERVA Litvínov</h3>
          </div>
          <div class="h-matches__result"><a href="#" class="win">3:1</a></div>
        </div>
        <ul class="h-matches__links">
          <li>
            <a href="#">
              {% include "@images/ticket-g.svg" %}
              <span>Vstupenky</span>
            </a>
          </li>
          <li>
            <a href="#">
              {% include "@images/shop.svg" %}
              <span>On-line přenos</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
