:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-primary: #27a63b;
  --color-primary-dark: #269f39;
  --color-primary-light: #eaf6ec;
  --color-gray: #eaeaea;
  --color-green-dark: #0c3212;
  --color-green-border: #48654d;
  --color-red: #ec2928;
}
