{% extends "@components/base/base.twig" %} {% set title = "14.0_accreditation"
%} {% block main %}
<section class="c-static-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="shadow-wrapper">
          <div class="o-content">
            <h1>Podmínky akreditace</h1>
            <ul>
              <li>
                V rámci akreditace jsou ke vstupu do pořadatelem vyhrazených
                prostor ŠKOENERGO Arény oprávněni pouze ty akreditované osoby, v
                jejichž náplni práce je publikování nebo fotografování (dále jen
                "Akreditovaní novináři a fotografové").
              </li>
              <li>
                Akreditovaní novináři jsou oprávněni k přístupu do prostor na
                tribuně mezi sektorem C a D.
              </li>
              <li>
                Akreditovaní fotografové jsou oprávněni k přístupu do prostor
                mezi střídačkami.
              </li>
              <li>
                Akreditovaní fotografové jsou v prostoru mezi střídačkami
                povinni nosit žlutou vestu, která je k dispozici v tiskovém
                středisku.
              </li>
              <li>
                Akreditovaní novináři a fotografové jsou povinni se při vstupu
                do prostor ŠKOENERGO Arény a po celou dobu zdržování se v
                prostorech haly a bezprostředním okolí řídit pokyny pořadatelů.
              </li>
              <li>
                Tiskové středisko je pro akreditované novináře a fotografy k
                dispozici po celé utkání.
              </li>
              <li>
                Na základě akreditace je akreditovaný novinář oprávněn pořizovat
                rozhovory s hráči, trenéry nebo jinými činovníky BK Mladá
                Boleslav po skončení utkání v prostorech u střídačky nebo v
                tiskovém středisku v rámci tiskové konference.
              </li>
              <li>
                Na základě akreditace je akreditovaný fotograf oprávněn
                pořizovat fotografie před utkáním, v jeho průběhu i po skončení
                v prostorech u střídačky nebo v tiskovém středisku.
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-2.twig" %}
    </div>
  </div>
</section>

{% include "@components/partners/partners.twig" %} {% endblock %}
