<section class="c-topstory-section">
  <div class="c-topstory-section__inner">
    <div class="c-topstory-section__item--main c-topstory-section__item">
      <a class="c-topstory-section__img" href="#">
        <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
        <div class="c-topstory-section__info">
          <div class="c-topstory-section__info-box">
            <div class="c-topstory-section__icons">
              {% include "@images/play.svg" %} {% include "@images/images.svg"
              %}
            </div>
            <h1 class="h3">
              Vítězná série pokračuje! Varnsdorf zlomily trefy Šiguta s Holíkem
            </h1>
          </div>
          <div class="date">Dnes</div>
        </div>
      </a>
    </div>
    <div class="c-topstory-section__col">
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__img" href="#">
          <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
          <div class="c-topstory-section__info">
            <div class="c-topstory-section__info-box">
              <div class="c-topstory-section__icons">
                {% include "@images/play.svg" %}
              </div>
              <h2 class="h5">
                West po porážce s Brnem: Měli jsme rozhodnout v první půli
              </h2>
            </div>
            <div class="date">16. 12. 2021</div>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__img" href="#">
          <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
          <div class="c-topstory-section__info">
            <div class="c-topstory-section__info-box">
              <h2 class="h5">
                West po porážce s Brnem: Měli jsme rozhodnout v první půli
              </h2>
            </div>
            <div class="date">16. 12. 2021</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
